node_modules/
dist/
.env*
__pycache__
.venv
flask/config.json
public/map-data
maps/data/10m_cultural
maps/data/10m_physical
maps/data/110m_cultural
maps/data/110m_physical
maps/data/Class_Airspace
maps/data/10m_cultural.zip
maps/data/10m_physical.zip
maps/data/110m_cultural.zip
maps/data/110m_physical.zip
maps/data/Class_Airspace.zip
