[Unit]
Description=skies-flask service 
After=network.target

[Service]
ExecStart=/usr/bin/bash skies-flask.sh
WorkingDirectory=/home/pi/skies-adsb
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
