body { 
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.aircraftInfo {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 300px;
  background-color: rgb(220, 214, 226);
  overflow-wrap: break-word;
  z-index: 100;
}

.aircraftInfo:fullscreen {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 300px;
  background-color: rgb(220, 214, 226);
  overflow-wrap: break-word;
  z-index: 100;
}
