body { 
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  color: #444;
  height: 100%;
}

#webgl:-webkit-full-screen {
  width: 100%;
  height: 100%;
}


.hidden {
  display: none;
}

#nav {
  position: absolute;
  top: 15px;
  right: 15px;
  width: auto;
  padding: 8px;
  border-radius: 30px;
  background-color: rgba(77, 82, 129, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  gap: 8px;
  min-height: 56px;
}

#nav button {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 8px 8px;      
}

#home {
  background-image: url('static/house.svg');
}
#camera {
  background-image: url('static/camera.svg');
}
#full-screen {
   background-image: url('static/fullscreen.svg');
}

button {
  outline: none;
}

#hud {
  z-index: 100;
}

.aircraftPhoto {
  height: 160px;
  object-fit: contain;
}

.show {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition-timing-function: linear; 
}

.hide {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
